.pokeimage {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(225, 225, 230);
}

.pokeimage > img {
  width: 300px;
  height: 300px;
}

.Poketitle {
  display: flex;
  align-items: center;
  justify-content: center;
  color: blue;
}
